@font-face {
    font-family: "heyam";
    src: url("../fonts/Heyam.ttf") format("truetype");
}

body {
    background-color: #c2e3fe;
    background-size: 900px;
    font-family: 'open-sans', Arial, sans-serif;
    color:#5a5a87;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'heyam', Arial, sans-serif;
    color: #5a5a87;
}
#aboutText {
    background-color: #ffffff;
}

#bg-yellow {
    background-color: ;
}

.headerrow {
    background-color: #5a5a87;
}

.headerrow h3 {
    padding-top: 10px;
    color: #ffffff;
    font-family: 'Heyam', Arial, sans-serif;
}