@font-face {
    font-family: "heyam";
    src: url("../fonts/Heyam.ttf") format("truetype");
}

body {
    background-color: #c2e3fe;
    font-family: 'open-sans', Arial, sans-serif;
    color: #5a5a87;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'heyam', Arial, sans-serif;
    color: #5a5a87;
}

.headerrow {
    background-color: #5a5a87;
    color: #ffffff;
}

.headerrow h1 {
    background-color: #5a5a87;
    color: #ffffff;
}

#messagePane {
    background-color: #ffffff;
}

#messagePane h2 {
    color: #88cafc;
}

#playerPane {
    background-color: #ffffff;
}

#playerPane h2 {
    color: #88cafc;
}

.join_room_response,
.left_room_response {
    /* background-color: rgb(247, 247, 247); */
    font-style: oblique;
}

.chat_message {
    color: #5a5a87;
    margin: 1px 1px 1px 1px;
    font-size: 125%;
}

.btn {
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 28px;
    /* font-weight: 700; */
    cursor: pointer;
    display: flex;
    font-family: "Heyam", "open-sans", "arial", "sans-serif";
    font-size: 100%;
    height: 56px;
    justify-content: center;
    /* line-height: 22px; */
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-primary {
    background-color: #5a5a87;
    border-color: #5a5a87;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #414162;
    border-color: #414162;
}

#players .btn-primary {
    background-color: #5a5a87;
    border-color: #5a5a87;
    color: #ffffff;
}

#players .btn-primary:hover {
    background-color: #414162;
    border-color: #414162;
    color: #ffffff;
}

#players .btn-secondary {
    background-color: #edcc6f;
    border-color: #edcc6f;
    color: #ffffff;
}

#players .btn-secondary:hover {
    background-color: #ecc55b;
    border-color: #ecc55b;
    color: #ffffff;
}